Flow 2.json
[{"id":"690a6f72.7cbe7","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"edf00fe7.d363b","type":"http in","z":"690a6f72.7cbe7","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":110,"y":80,"wires":[["9e31189e.7f0b88","bec8581a.399318"]]},{"id":"9e31189e.7f0b88","type":"function","z":"690a6f72.7cbe7","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":240,"wires":[["78ade1d7.0693d"]]},{"id":"78ade1d7.0693d","type":"rpi-gpio out","z":"690a6f72.7cbe7","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":620,"y":280,"wires":[]},{"id":"bec8581a.399318","type":"function","z":"690a6f72.7cbe7","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":80,"wires":[["93f9d230.c8f57","e69819f2.477938"]]},{"id":"e69819f2.477938","type":"debug","z":"690a6f72.7cbe7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":460,"wires":[]},{"id":"93f9d230.c8f57","type":"http response","z":"690a6f72.7cbe7","name":"","statusCode":"","headers":{},"x":890,"y":60,"wires":[]},{"id":"af05551.5bea2a8","type":"http in","z":"690a6f72.7cbe7","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":100,"y":420,"wires":[["f89c32ec.8528c","e02ae9ec.3778f8"]]},{"id":"f89c32ec.8528c","type":"function","z":"690a6f72.7cbe7","name":"Clear to 0","func":"msg.payload = 0 ;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":360,"wires":[["78ade1d7.0693d"]]},{"id":"e02ae9ec.3778f8","type":"function","z":"690a6f72.7cbe7","name":"Return Status","func":"msg.payload = \"GPIO5 set to LOW\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":520,"wires":[["93f9d230.c8f57","e69819f2.477938"]]}]