Flow 1.json
[{"id":"93d50853.018418","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"93f2946.dd10068","type":"mqtt out","z":"93d50853.018418","name":"","topic":"mcs/D119sQTV/ILvCYTwMnwGVlfYh/Temperature","qos":"2","retain":"","broker":"e545d0c.aedc53","x":530,"y":180,"wires":[]},{"id":"8a1b594f.be6fa8","type":"inject","z":"93d50853.018418","name":"","topic":"","payload":",,25.5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["93f2946.dd10068"]]},{"id":"1cb6c965.3f1167","type":"inject","z":"93d50853.018418","name":"","topic":"","payload":",,20.3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[["93f2946.dd10068"]]},{"id":"e545d0c.aedc53","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]