Flow 1.json
[{"id":"9a4a60a5.3599d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8c10f14a.9b757","type":"http in","z":"9a4a60a5.3599d","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":60,"y":120,"wires":[["8c5c458b.eeb718"]]},{"id":"c7a2904f.84a6e","type":"rpi-gpio in","z":"9a4a60a5.3599d","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":false,"x":50,"y":280,"wires":[["5935155f.04d57c"]]},{"id":"5935155f.04d57c","type":"function","z":"9a4a60a5.3599d","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":200,"wires":[["578828b9.d84e08"]]},{"id":"8c5c458b.eeb718","type":"function","z":"9a4a60a5.3599d","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":120,"wires":[["f4c49ab1.bf39d8","578828b9.d84e08"]]},{"id":"f4c49ab1.bf39d8","type":"http response","z":"9a4a60a5.3599d","name":"","statusCode":"","headers":{},"x":410,"y":120,"wires":[]},{"id":"578828b9.d84e08","type":"debug","z":"9a4a60a5.3599d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":420,"y":220,"wires":[]}]