Flow 2.json
[{"id":"b81aad44.5f3b9","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"34957d0d.2d1742","type":"mqtt in","z":"b81aad44.5f3b9","name":"","topic":"mcs/D119sQTV/ILvCYTwMnwGVlfYh/+","qos":"2","datatype":"auto","broker":"e545d0c.aedc53","x":535,"y":180,"wires":[["59f0ffa8.0146"]],"l":false},{"id":"59f0ffa8.0146","type":"csv","z":"b81aad44.5f3b9","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":",,Data","skip":"0","x":350,"y":280,"wires":[["2e8d3eb2.659a12"]]},{"id":"2e8d3eb2.659a12","type":"change","z":"b81aad44.5f3b9","name":"Get Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":360,"wires":[["287a1e54.4d2ab2"]]},{"id":"287a1e54.4d2ab2","type":"ui_gauge","z":"b81aad44.5f3b9","name":"","group":"be12ef99.b3221","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":360,"wires":[]},{"id":"2b3897e4.f74c88","type":"inject","z":"b81aad44.5f3b9","name":"","topic":"","payload":",,25.5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":40,"wires":[["a52525d5.0c7b08"]]},{"id":"b80d786c.690d38","type":"inject","z":"b81aad44.5f3b9","name":"","topic":"","payload":",,20.3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":220,"wires":[["a52525d5.0c7b08"]]},{"id":"a52525d5.0c7b08","type":"mqtt out","z":"b81aad44.5f3b9","name":"","topic":"mcs/D119sQTV/ILvCYTwMnwGVlfYh/Temperature","qos":"2","retain":"","broker":"e545d0c.aedc53","x":410,"y":80,"wires":[]},{"id":"e545d0c.aedc53","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"be12ef99.b3221","type":"ui_group","z":"","name":"Status","tab":"42d319e3.a78b18","order":1,"disp":true,"width":"6","collapse":false},{"id":"42d319e3.a78b18","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]