Flow1.json
[{"id":"fa570709.dc6988","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"df3670ce.ee222","type":"http in","z":"fa570709.dc6988","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":60,"y":200,"wires":[["ecd13930.2efe38"]]},{"id":"e49aa7c4.6d8508","type":"rpi-gpio in","z":"fa570709.dc6988","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":false,"x":70,"y":320,"wires":[["4ccb49e3.824e58"]]},{"id":"4ccb49e3.824e58","type":"function","z":"fa570709.dc6988","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":260,"wires":[["e578a45a.92bcf8"]]},{"id":"ecd13930.2efe38","type":"function","z":"fa570709.dc6988","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":160,"wires":[["4e0ceed.6cf791","e578a45a.92bcf8"]]},{"id":"4e0ceed.6cf791","type":"http response","z":"fa570709.dc6988","name":"","statusCode":"","headers":{},"x":450,"y":120,"wires":[]},{"id":"e578a45a.92bcf8","type":"debug","z":"fa570709.dc6988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":220,"wires":[]}]